body {
    margin: 0;
    height: 100vh;
}

.main p {
    margin: 0;
}

.header, .main, .menu-primary, .menu-secondary, .footer {
    font-size: 1.5rem;
    overflow: hidden;
}

.header, .footer {
    height: 50px;
    background: #666666;
    color: white;
}

.container {
    height: calc(100% - 100px);
    background: #999999;
}

.main {
    font-size: 2rem;
    background: #eeeeee;
}

.menu-primary {
    background: #cccccc;
}

.menu-secondary {
    background: #dddddd;
}

/*FLEX*/

/* .container {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex-grow: 1;
    order: 2;
}

.menu-primary {
    width: 25%;
    order: 1;
}

.menu-secondary {
    width: 25%;
    order: 3;
}

@media only screen and (max-width: 800px){
    .menu-primary {
        flex: 0 1 25%;
        height: 75%;
    }

    .main {
        height: 75%;
    }

    .menu-secondary {
        flex: 0 1 100%;
        height: 25%;
    }
} 

@media only screen and (max-width: 480px){
    .menu-primary {
        flex: 0 1 100%;
        height: 25%;
    }

    .main {
        height: 50%;
    }

    .menu-secondary {
        flex: 0 1 100%;
        height: 25%;
    }
}  */

/*GRID*/

.main {
    grid-area: m;
}

.menu-primary {
    grid-area: p;
}

.menu-secondary {
    grid-area: s;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "p m m s";
}

@media only screen and (max-width: 800px){
    .container {
        display: grid;
        grid-template-areas: 
        "p m m m"
        "p m m m"
        "p m m m"
        "s s s s";
    }
} 

@media only screen and (max-width: 480px){
    .container {
        display: grid;
        grid-template-areas: 
        "p p p p"
        "m m m m"
        "m m m m"
        "s s s s";
    }
} 