body {
    margin: 0;
    height: 100vh;
}

.main p {
    margin: 0;
}

.header, .main, .menu-primary, .menu-secondary, .footer {
    font-size: 1.5rem;
    overflow: hidden;
}

.header, .footer {
    height: 50px;
    background: #666666;
    color: white;
}

.container {
    height: calc(100% - 100px);
    background: #999999;
}

.main {
    font-size: 2rem;
    background: #eeeeee;
}

.menu-primary {
    background: #cccccc;
}

.menu-secondary {
    background: #dddddd;
}

/*FLEX*/

.container {
    display: flex;
}

.main {
    /*width: 50%*/
    flex-grow: 1;
    order: 2;
}

.menu-primary {
    width: 25%;
    order: 1;
}

.menu-secondary {
    width: 25%;
    order: 3;
}